 .about{
    margin:10%;
    display: flex;
    color: white;
    background-color: black;
    position: relative;
    z-index: 3;
    padding: 5%;
    border-radius: 20px;
 }
 .head{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }  
 .head h2{
    font-size: 30px;
    position: absolute;
    top: -50px ;
    left: 44%;
 }
.png img{
    width: 50px;
    height: 50px;
    margin-right: 5px;
} 
.article{
    margin-bottom: 15px;
    padding: 5px;    
    border-radius: 10px; 
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(165, 215, 232, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
}
.article h3{
    padding: 5px 0 ;
    font-weight: 700;
}
.headImg{
    max-width: 300px;
    width: 100%;
    
}
.article .description{
    margin-left: 5px;
}
.article:hover{
    background-size: 100% 100%;
    transition: 0.4s;
}
.teachnology{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

 @media screen and (max-width:777px){
    .about{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .head{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .head h2{
        font-size: 30px;
        left: 40%;
     }

 }
 @media screen and (max-width:450px){
    .head h2{
        left: 35%;
    }
 }