*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-family: "outfit",Arial, Helvetica, sans-serif;
}
#root{
  background-color: black;
    color: var(--color-text);
    min-width: 300px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
