.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin: 50px 10% 150px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items:flex-start;
    color: var(--color-text);
    z-index: 1;
}

.content .title{
    font-size: 62px;
    font-weight: 700;
    margin:50px 0 34px;
    font-family: var(--font-roboto);
    background: linear-gradient(
        90deg,
        #FFFFFF 70%,
        rgba(255, 255, 255, 0) 120%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.content .description{
    font-size:30px ;
    margin-bottom: 32px;
    font-family: var(--font-roboto);
}
.contactMe{
    margin-top: 32px;
    white-space: no-wrap;
    text-decoration: none;
    background-color: #576cbc;
    color: rgb(255, 245, 245);
    font-size: 25px;
    font-weight: 600;
    border-radius: 100px;
    padding: 17px ;
    box-shadow:   2px 2px 4px 1px #6e7dba95;
}
.contactMe:active{
    box-shadow:  inset -3px -2px 10px #1a213a95, inset 3px 2px 10px #1a213a95,inset 3px -2px 10px #1a213a95,inset -3px 2px 10px #1a213a95;
    
}
.heroImg{
   max-width: 400px;
   max-height: 400px;
    width: 50%;
}

.heroImg{
    width: 50%;
    z-index: 1;
    animation-name: image;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    
}

@keyframes image{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px) ;
    }
    100%{
        transform: translateY(-0);
    }
}

.topBlur{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -128px;
    left: 0vw;
    border-radius: 764px;
    background: rgba(25,55,109,0.7);
    filter: blur(100px);
    z-index: -1;
}
.bottomBlur{
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: 246px;
    right: -30vw;
    border-radius: 764px;
    background: rgba(25,55,109,0.7);
    filter: blur(100px);
    z-index: -1;
}
@media screen and (max-width:800px) {
    .heroImg{
        width: 80% !important;
    }
    .container{
        flex-direction: column-reverse;
    }

    .content,.content .title,.content .description{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}